<div id="ViewActivities"  data-dojo-type="dojox.mobile.ScrollableView"  >

  <h1 data-dojo-type="dojox.mobile.Heading" data-dojo-props="label:'Activities', back:'Menu', moveTo:'ViewMenu'"></h1>

  <div class="Round-Rect-Info" data-dojo-type="dojox.mobile.RoundRect" data-dojo-props="shadow:'true'" >
     <span>G11 KKL</span>
  </div>
  
  <ul data-dojo-type="dojox.mobile.RoundRectList">
    <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props="rightText:''" url="./views/start.htm"    >Start Tracking</li>
    <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props="rightText:''" url="./views/end.htm"      >End Tracking</li>
  </ul>

  <ul data-dojo-type="dojox.mobile.RoundRectList">
    <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props="rightText:''" url="./views/fueling.htm"  >Fueling</li>
    </ul>

  <ul data-dojo-type="dojox.mobile.RoundRectList">
    <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props="rightText:''" url="./views/load.htm"     >Load Consignments</li>
    <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props="rightText:''" url="./views/unload.htm"   >Unload Consignments</li>
  </ul>

  <div class="Round-Rect-Info " data-dojo-type="dojox.mobile.RoundRect" data-dojo-props="" >
    <table class="Table-Info" >
        <colgroup>
          <col class="Column-Info-Label" />
        </colgroup>
        <tr>
          <td colspan="2" class="Cell-Heading">Not Tracking</td>
        </tr>
        <tr style="display: none;">
          <td colspan="2" class="Cell-Heading">Current Position</td>
        </tr>
        <tr  style="display: none;">
          <td class="Cell-Data-Info" >Latitude</td>
          <td class="Cell-Data"      >03.44958855</td>
        </tr>
        <tr style="display: none;">
          <td class="Cell-Data-Info" >Longitude</td>
          <td class="Cell-Data"      >53.343333</td>
        </tr>
      </table>
  </div>

</div>