
 <div id="ViewCategory" data-dojo-type="dojox.mobile.ScrollableView" style="height: 100%;" selected="selected">

  <h1 data-dojo-type="dojox.mobile.Heading" data-dojo-props="label:'Vehicle Category', back:'Menu', moveTo:'ViewMenu'" > 
  </h1>
  
  <div data-dojo-type="dojox.mobile.RoundRect" shadow="true"><span>R543 WLB</span></div>

  <div class="Round-Rect-Info" data-dojo-type="dojox.mobile.RoundRect">
       <input class="Input-Large" data-dojo-type="dojox.mobile.SearchBox" type="search" placeholder="IVECO Eurocargo" style="width:100%"></input>
  </div>
 

   <ul data-dojo-type="dojox.mobile.RoundRectList">
    <li data-dojo-type="dojox.mobile.ListItem" moveTo="ViewMenu" rightText="" rightIcon="mblDomButtonArrow" >Road▶Truck▶IVECO▶Eurocargo</li>
    <li data-dojo-type="dojox.mobile.ListItem" moveTo="ViewMenu" rightText="" rightIcon="mblDomButtonArrow" >Road▶Truck▶IVECO▶Eurocargo▶T199</li>
    <li data-dojo-type="dojox.mobile.ListItem" moveTo="ViewMenu" rightText="" rightIcon="mblDomButtonArrow" >Road▶Truck▶IVECO▶Eurocargo▶T204</li>
    <li data-dojo-type="dojox.mobile.ListItem" moveTo="ViewMenu" rightText="" rightIcon="mblDomButtonArrow" >Road▶Truck▶IVECO▶Eurocargo▶DS55</li>
  </ul> 

 


</div>