<div id="ViewEndPassage" class="View" data-dojo-type="dojox.mobile.View"  >
   
  <h1 label="End Tracking" data-dojo-type="dojox.mobile.Heading" back="Activities" moveTo="ViewActivities"></h1>
  
   <div class="Round-Rect-Info" data-dojo-type="dojox.mobile.RoundRect" shadow="true" >
     <span>G11 KKL</span>
   </div>   

  <div class="Round-Rect-Info" data-dojo-type="dojox.mobile.RoundRect">
      <span>Odometer Reading (Kilometers)</span>
      <input type="text" class="TextBox-Large" data-dojo-type="dojox.mobile.TextBox" value="23044"></input>
  </div>

  <ul data-dojo-type="dojox.mobile.RoundRectList">
    <li data-dojo-type="dojox.mobile.ListItem" rightText="Save" moveTo="ViewActivities"></li>
  </ul>



</div>