<div id="ViewLoginFailed" class="View" data-dojo-type="dojox.mobile.View" >
   
  <h1 data-dojo-type="dojox.mobile.Heading" data-dojo-props="label:'Login Failed', back:'Login',  moveTo:'ViewWelcome'" ></h1>
  
  <div class="Round-Rect-Info" data-dojo-type="dojox.mobile.RoundRect" data-dojo-props="shadow:'true'" >
     <span>someone@somewhare.com</span>
     <br />
     <span>Password or User Name not valid, pleas try again</span>
  </div>   

  <ul data-dojo-type="dojox.mobile.RoundRectList">
    <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props="rightText:'EMail Me A New Password', moveTo:'ViewWelcome'"></li>
  </ul>



</div>