<div id="ViewFueling"          data-dojo-type="dojox.mobile.View" style="height: 100%;"        >
   
  <h1 label="Fueling" data-dojo-type="dojox.mobile.Heading" back="Activities" moveTo="ViewActivities"></h1>
 
  
   <div class="Round-Rect-Info" data-dojo-type="dojox.mobile.RoundRect" shadow="true" >
     <span>G11 KKL</span>
   </div>

  <div class="Round-Rect-Info" data-dojo-type="dojox.mobile.RoundRect">
      <span>Odometer Reading (Kilometers)</span>
      <input type="number" class="TextBox-Large" data-dojo-type="dojox.mobile.TextBox" value="23044"></input>
      <span>Fuel Cost (Pounds Sterling)</span>
      <input type="number" class="TextBox-Large" data-dojo-type="dojox.mobile.TextBox" value="136.9" ></input>
      <span>Amount (Litres)</span>
      <input type="number" class="TextBox-Large" data-dojo-type="dojox.mobile.TextBox" value="30.56" ></input>
  </div>

  <ul data-dojo-type="dojox.mobile.RoundRectList">
    <li data-dojo-type="dojox.mobile.ListItem" rightText="Save" moveTo="ViewActivities"></li>
  </ul>



</div>