<div id="ViewMenu"          data-dojo-type="dojox.mobile.View" style="height: 100%;"       >

  <h1 label="Menu" data-dojo-type="dojox.mobile.Heading" back="Vehicles" moveTo="ViewVehicles"></h1>
  
   <div class="Round-Rect-Info" data-dojo-type="dojox.mobile.RoundRect" shadow="true" >
     <span>G11 KKL</span>
   </div>
   
   <ul data-dojo-type="dojox.mobile.RoundRectList">
    <li data-dojo-type="dojox.mobile.ListItem" url="./views/activities.htm" rightText="" rightIcon="mblDomButtonArrow" >Activities</li>
    <li data-dojo-type="dojox.mobile.ListItem" url="./views/status.htm"     rightText="" rightIcon="mblDomButtonArrow" >Status</li>
    <li data-dojo-type="dojox.mobile.ListItem" url="./views/reports.htm"    rightText="" rightIcon="mblDomButtonArrow" >Reports</li>
    <li data-dojo-type="dojox.mobile.ListItem" url="./views/history.htm"    rightText="" rightIcon="mblDomButtonArrow" >History</li>
  </ul>

  <ul data-dojo-type="dojox.mobile.RoundRectList">
    <li data-dojo-type="dojox.mobile.ListItem" url="./views/category.htm"  rightText="Change" rightIcon="mblDomButtonArrow" >IVECO Eurocargo</li>
  </ul>

  <div class="Round-Rect-Info" data-dojo-type="dojox.mobile.RoundRect" shadow="false" >
    <table style="width: 90%;">
        <colgroup>
          <col style="width:160px; "/>
        </colgroup>
        <tr>
          <td colspan="2" class="Cell-Heading">Baseline Emission</td>
        </tr>
        <tr>
          <td class="Cell-Data-Info" >Combined</td>
          <td class="Cell-Data"      >21.10 mpg</td>
        </tr>
        <tr>
          <td class="Cell-Data-Info" >Urban</td>
          <td class="Cell-Data"      >17.4 mpg</td>
        </tr>
        <tr>
          <td class="Cell-Data-Info" >Extra Urban</td>
          <td class="Cell-Data"      >29.0 mpg</td>
        </tr>
        <tr>
          <td colspan="2" class="Cell-Heading">Cargo Capacity</td>
        </tr>
        <tr>
          <td class="Cell-Data-Info" >&nbsp;</td>
          <td class="Cell-Data"      >2,100kg</td>
        </tr>
        <tr>
          <td colspan="2" class="Cell-Heading">Primary Fuel</td>
        </tr>
        <tr>
          <td class="Cell-Data-Info" >Diesel</td>
          <td class="Cell-Data"      >2.68 CO2 kg/L</td>
        </tr>                                   
      </table>
  </div>
  
</div>


