
 <div id="ViewCategory" data-dojo-type="dojox.mobile.ScrollableView" style="height: 100%;" selected="selected">

  <h1 data-dojo-type="dojox.mobile.Heading" data-dojo-props="label:'New Vehicle', back:'Menu', moveTo:'ViewVehicles'" > 
  </h1>
  
  <div class="Round-Rect-Info" data-dojo-type="dojox.mobile.RoundRect">
      <span>Regestration Number</span>
      <input type="text" class="TextBox-Large" data-dojo-type="dojox.mobile.TextBox" placeholder="A123 BCD" value=""></input>
      <span>Make &amp; Model</span>
      <input class="Input-Large" data-dojo-type="dojox.mobile.SearchBox" type="search" placeholder="Fort Transit" value="" style="width:100%"></input>
  </div>
 

   <ul data-dojo-type="dojox.mobile.RoundRectList" style="display: none;" >
    <li data-dojo-type="dojox.mobile.ListItem" moveTo="ViewMenu" rightText="" rightIcon="mblDomButtonArrow" >Road▶Truck▶IVECO▶Eurocargo</li>
    <li data-dojo-type="dojox.mobile.ListItem" moveTo="ViewMenu" rightText="" rightIcon="mblDomButtonArrow" >Road▶Truck▶IVECO▶Eurocargo▶T199</li>
    <li data-dojo-type="dojox.mobile.ListItem" moveTo="ViewMenu" rightText="" rightIcon="mblDomButtonArrow" >Road▶Truck▶IVECO▶Eurocargo▶T204</li>
    <li data-dojo-type="dojox.mobile.ListItem" moveTo="ViewMenu" rightText="" rightIcon="mblDomButtonArrow" >Road▶Truck▶IVECO▶Eurocargo▶DS55</li>
  </ul> 

 


</div>