



<div id="ViewStatus"  class="View"  data-dojo-type="dojox.mobile.View" >
   
  <h1 data-dojo-type="dojox.mobile.Heading" data-dojo-props="label:'Status', back:'Menu', moveTo:'ViewMenu'" ></h1>
  
   <div class="Round-Rect-Info" data-dojo-type="dojox.mobile.RoundRect" shadow="true" >
     <span>G11 KKL</span>
   </div>
      
  <div class="Round-Rect-Info" data-dojo-type="dojox.mobile.RoundRect" shadow="false" >
    <table class="Table-Info" >
        <colgroup>
          <col class="Column-Info-Label" />
          <col class="Column-Info-Data"  />
          <col class="Column-Info-Unit"  />
        </colgroup>
        <tr>
          <td class="Cell-Info-Heading"  colspan="2" >Latest Fueling</td>
        </tr>
        <tr>
          <td class="Cell-Info-Label" >Price</td>
          <td class="Cell-Info-Data"  >1.349</td>
          <td class="Cell-Info-Unit"  >£ per Litre</td>
        </tr>
        <tr>
          <td class="Cell-Info-Label" >Consumption Rate</td>
          <td class="Cell-Info-Data"  >23.45</td>
          <td class="Cell-Info-Unit"  >miles per gallon</td>
        </tr>
      </table>
  </div>

  <div class="Round-Rect-Info" data-dojo-type="dojox.mobile.RoundRect" shadow="false" >
    <table  class="Table-Info" >
        <colgroup>
          <col class="Column-Info-Label" />
          <col class="Column-Info-Data"  />
          <col class="Column-Info-Unit"  />
        </colgroup>
        <tr>
          <td class="Cell-Info-Heading"  colspan="2" >Current Consignments</td>
        </tr>
        <tr>
          <td class="Cell-Info-Label" >Number</td>
          <td class="Cell-Info-Data"  >6</td>
        </tr>
        <tr>
          <td class="Cell-Info-Label" >Total Weight</td>
          <td class="Cell-Info-Data"  >423.6</td>
          <td class="Cell-Info-Unit"  >kg</td>
        </tr>
      </table>
  </div>


  <div class="Round-Rect-Info" data-dojo-type="dojox.mobile.RoundRect" shadow="false" >
    <table  class="Table-Info" >
        <colgroup>
          <col class="Column-Info-Label" />
          <col class="Column-Info-Data"  />
          <col class="Column-Info-Data"  />
          <col class="Column-Info-Data"  />
          <col class="Column-Info-Data"  />
        </colgroup>
        <tr>
          <td class="Cell-Info-Heading"  colspan="4" >Daily Movements &amp; Costs</td>
        </tr>
         <tr>
          <td class="Cell-Info-Label"   ></td>
          <td class="Cell-Info-Header"  >Distance</td>
          <td class="Cell-Info-Header"  >Fuel Cost</td>
          <td class="Cell-Info-Header"  >Unit Cost</td>
        </tr>
        <tr>
          <td class="Cell-Info-Label"       ></td>
          <td class="Cell-Info-HeaderUnit"  >km</td>
          <td class="Cell-Info-HeaderUnit"  >£</td>
          <td class="Cell-Info-HeaderUnit"  >£/km</td>
        </tr>        
        <tr>
          <td class="Cell-Info-Label" >Thursday</td>
          <td class="Cell-Info-Data"  >320</td>
          <td class="Cell-Info-Data"  >137.60</td>
          <td class="Cell-Info-Data"  >0.43</td>
        </tr>
         <tr>
          <td class="Cell-Info-Label" >Wednesday</td>
          <td class="Cell-Info-Data"  >461</td>
          <td class="Cell-Info-Data"  >216.67</td>
          <td class="Cell-Info-Data"  >0.47</td>
        </tr>      
       <tr>
          <td class="Cell-Info-Label" >Tuesday</td>
          <td class="Cell-Info-Data"  >262</td>
          <td class="Cell-Info-Data"  >102.18</td>
          <td class="Cell-Info-Data"  >0.39</td>
        </tr>      
       <tr>
          <td class="Cell-Info-Label" >Monday</td>
          <td class="Cell-Info-Data"  >126</td>
          <td class="Cell-Info-Data"  >52.92</td>
          <td class="Cell-Info-Data"  >0.42</td>
        </tr>        
       <tr>
          <td class="Cell-Info-Label" >Friday</td>
          <td class="Cell-Info-Data"  >342</td>
          <td class="Cell-Info-Data"  >136.80</td>
          <td class="Cell-Info-Data"  >0.40</td>
        </tr>        
    </table>
  </div>




</div>
